
		<!-- Footer -->
    <footer class="py-3 my-4 justify-content-center border-bottom pb-3 mb-3 text-body-secondary text-center">
      <p>Contact: <a href="mailto:info@havesthub.com" class="text-success">info@havesthub.com</a> | Address: Leijweg 11, 2400 BG HAARLEM</p>
      <p>© 2024 HavestHub</p>
    </footer>

		<!-- JavaScript -->
      <!-- Link to jQuery framework -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <!-- Link to bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <!-- Link to own JS  -->
      <script src="./index.js" charset="utf-8"></script>
  
  </body>
</html>
