<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Thank you for signing up, you're now on our waiting list!</h1>
      <p class="secret-text">We will contact you as soon as a plot is available.</p>
    </div>
  </div>

<%- include('partials/footer') %>