<%- include('partials/header') %>

  <!-- Heroes -->
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="plot.jpg" class="d-block mx-lg-auto img-fluid" alt="allotement plot" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-4 fw-bold text-body-emphasis text-success lh-1 mb-3">HarvestHub</h1>
        <p class="lead">Your gateway to community gardening! Sign up for an allotment plot, check availability, and easily track your spot on the waiting list. 
          Join HarvestHub today and start cultivating your green space!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-success btn-lg px-4 me-md-2" href="/register" role="button">Register</a>
          <a class="btn btn-outline-success btn-lg px-4" href="/login" role="button">Login</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-3">
    <!-- Our Plots-->
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h2 class="display-4 fw-normal text-success">Our Plots</h2>
      <p class="fs-5 text-body-secondary">We offer three plot sizes to suit your needs, all thoughtfully designed and easily accessible.</p>
      <p class="fs-5 text-body-secondary">All our plots are connected by a 100 cm wide gravel path, ensuring easy access for gardeners of all abilities. 
        The gravel paths provide a stable and durable surface, making it simple to navigate with wheelbarrows, tools, and gardening equipment.</p>
      <img class="d-block mx-auto mb-4" src="plots.png" alt="" width="100%">
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h2 class="display-4 fw-normal text-success">Pricing</h2>
      <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>

    <!-- Pricing  -->
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

      <!-- Small Plot Price -->
      <div class="col">
        <div class="card mb-4 rounded-3 border-success">
          <div class="card-header py-3 text-bg-success border-success">
            <h4 class="my-0 fw-normal">Small</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-success">EUR 100<small class="text-body-success fw-light">/yr</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Perfect for Beginners</li>
              <li>Efficient Use of Space</li>
              <li>Cost-Effective</li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- Medium Plot Price -->
      <div class="col">
        <div class="card mb-4 rounded-3 border-success">
          <div class="card-header py-3 text-bg-success border-success">
            <h4 class="my-0 fw-normal">Medium</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-success">EUR 175<small class="text-body-success fw-light">/yr</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Versatile Gardening</li>
              <li>Family-Friendly</li>
              <li>Balanced Size</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Large Plot Price -->
      <div class="col">
        <div class="card mb-4 rounded-3 border-success">
          <div class="card-header py-3 text-bg-success border-success">
            <h4 class="my-0 fw-normal">Large</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title text-success">EUR 250<small class="text-body-success fw-light">/yr</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Extensive Cultivation</li>
              <li>Serious Gardeners</li>
              <li>Future expansion</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer') %>
